../.idea/*
.idea/*
dev/.terraform
dev/.terraform.lock.hcl
dev/secrets.tfvars
dev/terraform.tfstate
dev/terraform.tfstate.backup
venv

dev/test/.idea
dev/test/.pytest_cache

test/.terraform
test/.terraform.lock.hcl
test/secrets.tfvars
test/terraform.tfstate
test/terraform.tfstate.backup
test/test/.idea
test/test/.pytest_cache

prod/.terraform
prod/.terraform.lock.hcl
prod/secrets.tfvars
prod/terraform.tfstate
prod/terraform.tfstate.backup
prod/test/.idea
prod/test/.pytest_cache

**/__pycache__
